/* awal css clear */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* akhir css clear */

/* awal bagian css body */
body{
    background-image:url("pattern.jpg");
    font-family: 'slabo', sans-serif;
}

li a button {
    font-family: "slabo", sans-serif;
    font-weight: 500;
    
}
/* akhir bagian css body */

/* awal bagian navigasi */
header {
    overflow: hidden;
    background-color: #fff;
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    
}

#logo {
    margin-right: auto;
    cursor: pointer;
}

header ul {
    display: flex;
    list-style: none;
}

header ul a{
    padding-right: 10px;
}
/* akhir bagian header */

/* awal bagian section */
section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 1000px;
    background-color: #fff;
}
section h1{
    margin-top: 80px;
    text-align: center;
}
#article-list{
    margin-top: 30px;
    background-color: #fff;
}

#article-list div {
    padding: 30px 10px;
    
}

#article-list div h3{
    padding-bottom: 20px ;
}

#article-list div p{
    border-bottom: 1px solid rgb(133, 129, 129);
}
/* akhir bagian section */

/* awal bagian footer */
footer {
    width: 100%;
    height: 50px;
    background-color: rgb(5, 5, 5);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
}
footer h5 {
    color: white;
}
/* akhir bagian footer */

/* awal css halamaan about */
.data-peserta {
    border: 1px solid;
    margin-top: 80px;
    width: 800px;
    height: 200px;
}
.data-peserta h2{
    padding: 20px;
    text-align: center;
}
.data-peserta ol{
    padding-left: 30px;
}
/* akhir css halaman about */

/* awal css halaman contact */
.contact {
    width: 800px;
    height: auto;
    margin-top: 80px;
    border: 1px solid;
    padding-left: 10px;
}
.contact h2{
    padding: 20px;
    text-align: center;
}
.contact ul{
    list-style: none;
}
.input-1{
    float: right;
}
/* akhir css halaman contact */