section{
  padding: 20px;
}
section h2{
  text-align: center;
}
.buah{
  width: 500px;
  height: auto;
  border: solid black 1px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
section label{
  font-weight: bold;
}
.tombol{
  border-radius: 40%;
  border-style: solid black;
  border-width: 2px;
}
.panjang{
  width: 200px;
}
.samping{
  padding-left: 50px;
}
.atas1{
  padding-top: 20px;
}
.atas2{
  padding-top: 20px;
  padding-left: 50px;
}